{% extends 'base/template.html' %}

{% block titulocompras %}
<title>Listado Produccion</title>
{% endblock titulocompras %}

{% block listado_produccion %}

<div class="container rounded">

    <div class="row" style="align-items: center; display: flex; justify-content: center;">
        <!-- este style es para centar el div de la clase col -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded" style="border:none;">

            <table id="example" class="tablita table  table-hover table-bordered  display nowrap" width="100%">
                <thead>
                    <tr style="color: #A3A6B4;">
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for mostrar_produccion in produccion reversed %}
                      
                    <tr class="small">
                        <td id="select{{insumo.id}}">{{mostrar_produccion.fecha_produccion}}</td>
                        <td>{{mostrar_produccion.estado_produccion}}</td>
                        <td>
                            {% load static %}
                            <i style="color: white; padding:0 10px ;" type="button" ; data-toggle="modal" ;
                                data-target="#produccion{{mostrar_produccion.id}}" >
                                {% load static %}
                                <img src="{% static '/assets/icons/icon_alert-circle-exc.svg' %}" alt="">
                            </i>
                            <!-- Modal -->
                            <div class="modal fade" id="produccion{{mostrar_produccion.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Finalizar Producción</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">


                                            <div class="container rounded">

                                                <div class="form-group">
                                                    <label for="fecha_produccion">Fecha de Inicio:</label>
                                                    <input type="" readonly class="form-control" id="fecha" value="{{mostrar_produccion.fecha_produccion}}">
                                                </div>


                                                <button id="productos" class="btn btn-outline-info boton"
                                                    data-li="productos">Producción</button>
                                                <button id="insumos" class="btn btn-outline-info boton"
                                                    data-li="insumos">Insumos</button>


                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item productos"
                                                    style="border:none; margin-top: 20px;">

                                                    <div class="table-responsive">
                                                        <table id="example"
                                                            class="tablita table  table-hover table-bordered  display nowrap"
                                                            cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad Inicial</th>
                                                                    <th>Cantidad final</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                            
                                                                  
                                                                    {% for mostrar_detalles_produccion in detalles_produccion reversed %}

                                                                
                                                                        
                                                                        {% if mostrar_detalles_produccion.id_produccion.id == mostrar_produccion.id %}
                                                                            
                                                                            <tr>
                                                                                <td>{{mostrar_detalles_produccion.id_producto.id_nombre_producto.categoria}}</td>
                                                                                <td>{{mostrar_detalles_produccion.id_producto.id_nombre_producto.nombre_productos}}</td>
                                                                                <td id="cantidad_detalle{{mostrar_detalles_produccion.id}}">{{mostrar_detalles_produccion.cantidad_detalle}}</td>
                                                                                <td>

                                                                                    
                                                                                    {% if mostrar_detalles_produccion.cantidad_real_detalle %}
                                                                                        {{mostrar_detalles_produccion.cantidad_real_detalle}}

                                                                                    {% else %}

                                                                                        <div class="form-group">
                                                                                            <input type="number"  class="form-control cantidad_real_detalle{{mostrar_produccion.id}}"  placeholder="Cantidad Final">
                                                                                            
                                                                                        </div>
                                                                                        
                                                                                    {% endif %}
                                                                                        
                                                                    

                                                                                </td>
                                                                            </tr>

                                                                            <!-- <script>

                                                                                elemento_usuario = document.getElementById('cantidad_real_detalle{{mostrar_produccion.id}}');
                                                                                elemento_comparar = document.getElementById('cantidad_detalle{{mostrar_detalles_produccion.id}}');

                                                                                elemento_usuario.addEventListener('keyup',function(){
                                                                                    alertacantidadmayor2(elemento_usuario,elemento_comparar);
                                                                                        
                                                                                });
          
                                                                            </script> -->

                                                                        {% endif %}
                                                                            
                                                                    
                                                                    {% endfor %}

                                                                




                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad Inicial</th>
                                                                    <th>Cantidad final</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                    </div>

                                                </div>

                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item insumos"
                                                    style="border:none; margin-top: 20px; display: none;">

                                                    <div class="table-responsive">
                                                        <table id="example"
                                                            class="tablita table  table-hover table-bordered  display nowrap"
                                                            cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Insumo</th>
                                                                    <th>Cantidad a Usar</th>
                                                                    <th>Medida</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>


                                                                {% for mostrar_detalles_insumos in detalles_insumos  reversed %}

                                                                <!-- <p>{{mostrar_detalles_insumos.id_produccion.id}}</p>
                                                                <p>{{mostrar_produccion.id}}</p> -->
                                                                    
                                                                    {% if mostrar_detalles_insumos.id_produccion.id == mostrar_produccion.id %}
                                                                        <tr>
                                                                            <td>{{mostrar_detalles_insumos.id_insumos.nombre}}</td>
                                                                            <td class="restar_insumos{{mostrar_produccion.id}}">{{mostrar_detalles_insumos.Cantidad}}</td>
                                                                            <td>{{mostrar_detalles_insumos.id_insumos.unidad_de_medida}}</td>
                                                                        </tr>
                                                                        
                                                                    {% endif %}
                                                                        

                                                                {% endfor %}


                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Insumo</th>
                                                                    <th>Cantidad a Usar</th>
                                                                    <th>Medida</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                    </div>

                                                </div>

                                                <div class="col-sm-12">

                                                    <div class="Fecha">
                                                        <div class="form-group">
                                                            <label for="fecha_produccion">Fecha de Acabado:</label>

                                                            
                                                            {% if mostrar_produccion.estado_produccion == "Terminado" %}

                                                                <input type="" class="form-control" value="{{mostrar_produccion.fecha_acabado}}" readonly>
                                                            {% else %}
                                                                <input type="date" class="form-control" id="fecha_parcial{{mostrar_produccion.id}}">
                                                            {% endif %}
                                                                
                                                        </div>
                                                    </div>

                                                    <script>
                                                        // el codigo de abajo es para poder poner la fecha por defecto en el input de tipo date

                                                        var today = new Date();
                                                        var dd = String(today.getDate()).padStart(2, '0');
                                                        var mm = String(today.getMonth() + 1).padStart(2,'0'); //January is 0!
                                                        var yyyy = String(today.getFullYear());

                                                        date = String(yyyy + '-' + mm + '-' + dd);
                                                        // document.write(today);


                                                        fecha_parcial = document.getElementById('fecha_parcial{{mostrar_produccion.id}}');

                                                        // fecha_utc = date.toUTCString()
                                                        fecha_parcial{{mostrar_produccion.id}}.value = date;
                                                        fecha_parcial{{mostrar_produccion.id}}.defaulValue = date;
                                                        fecha_parcial{{mostrar_produccion.id}}.innerHTML = date;


                                                        // console.log(date)

                                                    </script>



                                                </div>

                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <form id="terminar_produccion{{mostrar_produccion.id}}" action="listado_produccion" method="post">
                                                
                                                {% csrf_token %}
                                                
                                                {% for mostrar_detalles_insumos in detalles_insumos  reversed  %}
                                                
                                                    {% if mostrar_detalles_insumos.id_produccion.id == mostrar_produccion.id %}
                                                        <input type="hidden" class="detalles_insumos_registrar" name="detalles_insumos_registrar" value="{{mostrar_detalles_insumos.id_insumos.id}}"> 
                                                        <input type="hidden" name="insumos_restar_enviar" value="{{mostrar_detalles_insumos.Cantidad}}"> 
                                                    {% endif %}
                                                            
                                                {% endfor %}
                                                            
                                                {% for mostrar_detalles_produccion in detalles_produccion reversed %}
                                                            
                                                    {% if mostrar_detalles_produccion.id_produccion.id == mostrar_produccion.id %}
                                                        <input type="hidden" class="detalles_produccion_registrar" name="detalles_produccion_registrar" value="{{mostrar_detalles_produccion.id}}">
                                                        <input type="hidden" class="cantidad_final{{mostrar_produccion.id}}" name="cantidad_final" value="nada">   
                                                        <input type="hidden" name="id_producto" value="{{mostrar_detalles_produccion.id_producto.id}}">   
                                                    {% endif %}
                                                            
                                                {% endfor %}
                                                            
                                                    <input type="hidden" name="terminar_produccion" value="terminar_produccion">
                                                    <input type="hidden" id="fecha_produccion{{mostrar_produccion.id}}" name="fecha_produccion" value="fecha_produccion">
                                                            
                                                            
                                            </form>

                                            
                                            {% if mostrar_produccion.estado_produccion == "Terminado" %}
                                                <button type="button" class="btn btn-outline-danger"data-dismiss="modal">Cerrar</button>
                                            {% else %}
                                                <button type="button" class="btn btn-outline-danger"data-dismiss="modal">Cancelar</button>
                                                <button type="button" id="finalizar_produccion{{mostrar_produccion.id}}" class="btn btn-outline-success">Guardar Cambios</button>

                                            {% endif %}
                                                

                                                <script>
                                                    var boton_finalizar{{mostrar_produccion.id}} = document.getElementById('finalizar_produccion{{mostrar_produccion.id}}');
                                                    var input_cantidad_final{{mostrar_produccion.id}} = document.getElementsByClassName('cantidad_real_detalle{{mostrar_produccion.id}}');
                                                    var cantidad_final{{mostrar_produccion.id}} = document.getElementsByClassName('cantidad_final{{mostrar_produccion.id}}');
                                                    var form_registrar_produccion{{mostrar_produccion.id}} = document.getElementById('terminar_produccion{{mostrar_produccion.id}}');
                                                    var fecha_produccion{{mostrar_produccion.id}} = document.getElementById('fecha_produccion{{mostrar_produccion.id}}');
                                                   

                                                    boton_finalizar{{mostrar_produccion.id}}.addEventListener('click',function(){

                                                        var cont = 0;

                                                        for (var i = 0; i < input_cantidad_final{{mostrar_produccion.id}}.length; i++) {
                                                            if (parseInt(input_cantidad_final{{mostrar_produccion.id}}[i].value) > 0) {
                                                                cont += 1;
                                                            }
                                                        };

                                                        if (cont == parseInt(input_cantidad_final{{mostrar_produccion.id}}.length)) {
                                                            console.log('se comprobo');
                                                            // console.log('entro en el onclick');
                                                            for (var i = 0; i < input_cantidad_final{{mostrar_produccion.id}}.length; i++) {
                                                                
                                                                // console.log(input_cantidad_final{{mostrar_produccion.id}}[i].value);
                                                                
                                                                cantidad_final{{mostrar_produccion.id}}[i].value = input_cantidad_final{{mostrar_produccion.id}}[i].value;
                                                                fecha_produccion{{mostrar_produccion.id}}.value = fecha_parcial{{mostrar_produccion.id}}.value;
    
                                                                // console.log(cantidad_final{{mostrar_produccion.id}}[i].value);
                                                                form_registrar_produccion{{mostrar_produccion.id}}.submit()
                                                            }
                                                            // console.log(cantidad_final{{mostrar_produccion.id}}.length);
                                                        }
                                                        else
                                                        {
                                                            console.log('no se comprobo');
                                                            alert('Por favor rellene todos los campos de la cantidad final...')
                                                        };
                                                        
                                                        
                                                            
                                                      

                                                    });
                                                    
                                                    // <component/>

                                                </script>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}


                </tbody>
                <tfoot>
                    <tr>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

{% endblock listado_produccion %}