{% extends 'base/template.html' %}

{% block titulocompras %}
<title>Produccion</title>
{% endblock titulocompras %}


{% block produccion %}

<div class="container rounded">
    <button id="productos" class="btn btn-outline-info boton" data-li="productos">Produccion</button>
    <button id="insumos" class="btn btn-outline-info boton" data-li="insumos">Insumos</button>


    <div class="row" style="margin-top: 20px;">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 item productos">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">


                <div class="card-body responsive">
                    <h5 class="card-title">Produccion!</h5>

                    <form action="produccion" method="post" id="formulario">
                        {% csrf_token %}

                        <div class="form-group">
                            <select class="form-control" id="categoria">
                                <option disabled selected> Seleccionar Categoria</option>
                                {% for categorias in categoria  %}
                                <option class="categoria" id="opcion{{categorias.id}}"
                                    value="{{categorias.nombre_categoria}}">{{categorias.nombre_categoria}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="nombre_productos" id="select_producto" required>
                                <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar Productos
                                </option>
                                {% for nombre in nombre_productos  %}
                                <option class="nombre_productos" id="opcion{{nombre.id}}"
                                    value="{{nombre.id}}-{{nombre.categoria}}">{{nombre.nombre_productos}}</option>
                                {% endfor %}

                                <!-- {% for nombre in nombre_productos  %}
                                    <input type="hidden" class="cambio_valor" value="{{nombre.categoria}}-{{nombre.id}}">
                                {% endfor %} -->
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" name="cantidad" placeholder="Cantidad Produccion"
                                required>
                        </div>

                        <input type="hidden" name="guardar" value="guardar">
                        <input type="hidden" name="id_producto" id="id_producto" value="nombre_del_producto">
                        <button type="submit" class="btn btn-outline-info float-right">Agregar</button>

                        <script>
                            // en este codigo se realiza un filtro de los productos por sus categorias 
                            // para mostrar en los Selection

                            // primero se cambia la propiedad de display a none para que no se muestren los datos 

                            var categoria = document.getElementById('categoria');
                            var productos = document.getElementsByClassName('nombre_productos');
                            var select_productos = document.getElementById('select_producto');
                            var enviar_producto = document.getElementById('id_producto')

                            for (var i = 0; i < productos.length; i++) {
                                productos[i].style.display = 'none';

                            }

                            categoria.addEventListener("change", function () {
                                filtro(categoria, productos);
                                cambiar_enviar(select_productos, enviar_producto);
                            });
                            
                            select_productos.addEventListener("change", function () {
                                cambiar_enviar(select_productos, enviar_producto);
                            });
                            
                              
                            // window.onload = function () {
                                // };
                        </script>
                    </form>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 item productos">
            
            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">
                
                
                <div class="table-responsive">
                    
                    <table class="table table-hover shadow p-3 mb-5 bg-white rounded ">
                        
                        <thead style="background-color: #F5F6FA;">
                            <tr>
                                <th style="color: #A3A6B4;" scope="col">Categoria</th>
                                <th style="color: #A3A6B4;" scope="col">Producto</th>
                                <th style="color: #A3A6B4;" scope="col">Cantidad</th>
                                <th style="color: #A3A6B4;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for producto in productos  %}
                            
                            <tr class="tabla_compras">
                                <td class="small" id="producto{{producto.id_produccion}}">{{producto.categoria}}</td>
                                <td class="small" id="nombre_producto{{producto.id_produccion}}" >{{producto.nombre}}</td>
                                <td class="small">{{producto.cantidad}}</td>
                                
                                
                                
                                <!-- codigo para el boton de editar 
                                    -------------------------------------------------- -->
                                    <td class="small">
                                        {% load static %}
                                        <i style="color: white;" type="button" data-toggle="modal"
                                        data-target="#editar{{producto.id_produccion}}"><i><img
                                            src="{% static '/assets/icons/icon_edit.svg' %}" alt=""></i></i>
                                            
                                            <div class="modal fade" id="editar{{producto.id_produccion}}" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Editar Datos</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" action="/produccion">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            
                                                            <label for="nombre{{insumo.id}}"
                                                            class="col-form-label">Categoria:</label>
                                                            <select name="producto"
                                                            id="prueba{{producto.id_produccion}}"
                                                            class="form-control">

                                                            {% for categorias in categoria  %}
                                                            
                                                            <option class="categorias{{producto.id_produccion}}"
                                                            value="{{categorias.nombre_categoria}}">{{categorias.nombre_categoria}}</option>
                                                            
                                                            {% endfor %}
                                                            
                                                            
                                                        </select>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <label for="nombre{{insumo.id}}"
                                                        class="col-form-label">Producto:</label>
                                                        <select name="producto"
                                                        id="select_default{{producto.id_produccion}}"
                                                        class="form-control">

                                                        <!-- <option id="desactivar" disabled='disabled'
                                                                    selected='selected'> Seleccionar Productos
                                                                </option> -->
                                                                
                                                                {% for nombre in nombre_productos  %}
                                                                <option
                                                                class="nombre_productos{{producto.id_produccion}}"
                                                                value="{{nombre.id}}-{{nombre.categoria}}"
                                                                >{{nombre.nombre_productos}}</option>
                                                                
                                                                {% endfor %}
                                                                
                                                            </select>
                                                        </div>
                                                        <script>
                                                            
                                                            var opciones_categorias = document.getElementsByClassName("categorias{{producto.id_produccion}}");
                                                            var tabla_valor_producto = document.getElementById("producto{{producto.id_produccion}}");
                                                            var tabla_valor_nombre = document.getElementById("nombre_producto{{producto.id_produccion}}");
                                                            var select_nombre_productos = document.getElementsByClassName("nombre_productos{{producto.id_produccion}}");
                                                            var select_categorias = document.getElementById("prueba{{producto.id_produccion}}");
                                                            var input_editar = document.getElementById('iden')
                                                            var select_enviar = document.getElementById('select_default{{producto.id_produccion}}')
                                                            
                                                            
                                                            filtro_editar(opciones_categorias,tabla_valor_producto); 
                                                            
                                                            filtro_editar_con_select(select_categorias,select_nombre_productos);
                                                            
                                                            filtrar_select_nombre_modal(tabla_valor_nombre,select_nombre_productos);
                                                            
                                                            
                                                            select_categorias.addEventListener("change", function () {    
                                                                filtro(select_categorias,select_nombre_productos);
                                                            });
                                                            
                                                            // cambiar_enviar(input_editar,select_enviar)

                                                            
                                                            console.log(input_editar)
                                                            
                                                            </script>

                                                        <div class="form-group">
                                                            <label for="recipient-name"
                                                            class="col-form-label">Precio:</label>
                                                            <input name="precio" value="{{compra.precio}}" type="text"
                                                            class="form-control" id="recipient-name">
                                                        </div>
                                                        
                                                        <input type="hidden" id="iden" name="iden" value="nothing">
                                                        <input type="hidden" name="editar"
                                                        value="editar">
                                                        
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger"
                                                        data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-outline-success">Guardar
                                                        Cambios</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>



                                    <!-- codigo para el boton de borrar  -->
                                    <!-- -------------------------------------------- -->


                                    <!-- Button trigger modal -->
                                    <i style="color: white; padding:0 10px ;" type="button" data-toggle="modal"
                                        data-target="#borrar{{producto.id_produccion}}">
                                        {% load static %}
                                        <img src="{% static '/assets/icons/circle-remove.svg' %}" alt="">
                                    </i>

                                    <!-- Modal -->
                                    <div class="modal fade" id="borrar{{producto.id_produccion}}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="produccion" method="post">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <input type="hidden" name="id_borrar"
                                                            value="{{producto.id_produccion}}">
                                                        <input type="hidden" name="borrar" value="borrar">
                                                        Desea Eliminar este Registro ?
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-outline-danger"
                                                            data-dismiss="modal">Cancelar</button>
                                                        <button type="submit"
                                                            class="btn btn-outline-info">Borrar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded item insumos"
            style="border:none; display: none;">

            <div class="table-responsive">
                <table id="example" class="tablita table  table-hover table-bordered  display nowrap" cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            <th style="color: #A3A6B4;">Insumo</th>
                            <th style="color: #A3A6B4;">Cantidad Actual</th>
                            <th style="color: #A3A6B4;">Medida</th>
                            <th style="color: #A3A6B4;">Cantidad a usar</th>
                            <th style="color: #A3A6B4;">Medida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Plantas Madre</td>
                            <td>5</td>
                            <td>unidades</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="cantidad_detalle"
                                        placeholder="Cantidad Produccion">
                                </div>
                            </td>
                            <td>unidades</td>

                        </tr>



                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="color: #A3A6B4;">Categoría</th>
                            <th style="color: #A3A6B4;">Insumo</th>
                            <th style="color: #A3A6B4;">Cantidad</th>
                            <th style="color: #A3A6B4;">Unidad de Medida</th>
                            <th style="color: #A3A6B4;">Acciones</th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>

        <div class="col-sm-12">

            <div class="totales">

                <div class="form-group">
                    <label for="fecha_produccion">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fecha">
                    <!-- style de codigo para establecer el tamanho del input fecha -->
                    <style>
                        @media only screen and (min-width: 600px) {
                            #fecha {
                                width: 25%;
                            }
                        }
                    </style>
                </div>
            </div>

            <div class="botones">
                <button type="submit" class="btn btn-outline-success float-right">Registrar</button>
            </div>

        </div>

    </div>
</div>


{% endblock produccion%}