.container{
    padding-top: 5%;
    
}


.form{
    display: inline-block;
    margin: 20px;
}

.tabla{
    display: inline-block;
    margin: 20px;
}

.totales{
    width: 200px;
    padding: 5%;
}

.botones button{
    float: right;
    margin: 20px;
}
