.contenedor{
    padding-top: 5%;
    width: fit-content;
    margin: 0 auto;
    
}


.form{
    display: inline-block;
    margin: 0 10px;
}

.tabla{
    display: inline-block;
    margin: 0 10px;
}

.totales{
    width: 200px;
    padding: 5%;
}

.botones button{
    float: right;
    margin: 20px;
}
