/* COMPRAS  */

#totales{
    /* style de codigo para establecer el tamanho del input fecha  */
                    
    @media only screen and (min-width: 600px) {
        #fecha {
            width: 25%;
        }
    }
                    
}

/* data tables */
thead {
    background-color: #F5F6FA;
}

th{
    color: #007bff;
}
td{
    color: #b1b1b1;
    font-weight: bold;
}
/* icono para editar */

#editar_icono{
    color: white;
}

tfoot{
    background-color: #F5F6FA;
}


/* CLIENTES */
.ahora{
    display: flex;
}
#imgicon{
    margin-right: 10px;
}
h1{
    color: #a6a8b5;
}
h5{
    color: #007bff;
}
#calle{
    color: #a6a8b5;
    /* font-weight: bold; */
    /* font-size: large; */

}
#tituloMembrete{
    color: #a6a8b5;
    font-weight: bold;
    font-size: large;
}
#telefonoMembrete{
    color: #a6a8b5;
}
.agua {
    background-color: #e9ecef;
}
#membreteContenedor{
    display: none;
}  

.membreteModal{
    display: none;
}

.ocultar{
    margin-top: 20px;
}

.modal-body{
    color: #a6a8b5;
    font-weight: bold;
}


/* LISTADO PRODUCTOS */

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hijo{
    width: 100%;
    height: 100%;
}

.imagen{
    width: fit-content;
    height: 250px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    object-fit: cover;

    /* padding: 0 -21%; */
}