{% extends 'base/template.html' %}

{% block titulocompras %}
<title>Ventas</title>
{% endblock titulocompras %}

{% block ventas %}


<div class="container rounded">

  <div class="row" style="align-items: center; display: flex; justify-content: center;">
    <!-- este style es para centar el div de la clase col -->

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded" style="border:none;">

        <table id="example" class="tablita table  table-hover table-bordered  display nowrap" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto Total</th>
                    <th>Ver mas</th>
                </tr>
            </thead>
            <tbody>

                <tr class="small">
                    <td id="select{{insumo.id}}">20/01/2021</td>
                    <td>50.000</td>
                    <td>
                        {% load static %}
                        <i style="color: white; padding:0 10px ;" type="button" ; data-toggle="modal" ;
                            data-target="#exampleModalCenter" ;>
                            {% load static %}
                            <img src="{% static '/assets/icons/icon_alert-circle-exc.svg' %}" alt="">
                        </i>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Detalles de la Venta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">


                                        <div class="container rounded">

                                            <!-- <div class="form-group">
                                                <label for="fecha_pedido">Fecha de Inicio:</label>
                                                <input type="date" readonly class="form-control" id="fecha" placeholder="Fecha de Inicio">
                                            </div> -->

                                            <button id="productos" class="btn btn-outline-info boton" data-li="productos">Productos</button>
                                            <button id="insumos" class="btn btn-outline-info boton" data-li="insumos">Cliente</button>


                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item productos"
                                                style="border:none; margin-top: 20px;">

                                                <div class="table-responsive">
                                                    <table id="example"
                                                        class="tablita table  table-hover table-bordered  display nowrap"
                                                        cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr style="color: #A3A6B4;">
                                                                <th>Categoría</th>
                                                                <th>Producto</th>
                                                                <th>Cantidad</th>
                                                                <th>Precio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Tunas</td>
                                                                <td>Tuna del desierto</td>
                                                                <td>5</td>
                                                                <td>50.000</td>
                                                                
                                                            </tr>



                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="color: #A3A6B4;">
                                                                <th>Categoría</th>
                                                                <th>Producto</th>
                                                                <th>Cantidad</th>
                                                                <th>Precio</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>

                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item insumos"
                                                style="border:none; margin-top: 20px; display: none;">

                                                <div class="table-responsive">
                                                    <table id="example"
                                                        class="tablita table  table-hover table-bordered  display nowrap"
                                                        cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr style="color: #A3A6B4;">
                                                                <th>Nombre</th>
                                                                <th>Direccion</th>
                                                                <th>Telefono</th>
                                                                <!-- <th>Accion</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Alvaro Basilicio Rodriguez Llano</td>
                                                                <td>Eleuterio Cabrera c/ Juan Oleari</td>
                                                                <td>0973572212</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="color: #A3A6B4;">
                                                                <th>Nombre</th>
                                                                <th>Direccion</th>
                                                                <th>Telefono</th>
                                                                <!-- <th>Accion</th> -->
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>

                                            </div>

                                            <div class="col-sm-12">

                                                <div class="form-group">
                                                    <label for="total_compra">Monto Total de la Venta:</label>
                                                    <input type="number" readonly class="form-control" id="cantidad_total" value="">
                                                </div>

                                                <div class="Fecha">
                                                    <div class="form-group">
                                                        <label for="fecha_pedido">Fecha de la Venta:</label>
                                                        <input type="date" class="form-control" id="fecha_parcial"
                                                            placeholder="Fecha de Inicio" disabled>
                                                    </div>
                                                </div>

                                                <script>
                                                    // el codigo de abajo es para poder poner la fecha por defecto en el input de tipo date

                                                    var today = new Date();
                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2,
                                                    '0'); //January is 0!
                                                    var yyyy = String(today.getFullYear());

                                                    date = String(yyyy + '-' + mm + '-' + dd);
                                                    // document.write(today);


                                                    fecha_parcial = document.getElementById('fecha_parcial');

                                                    // fecha_utc = date.toUTCString()
                                                    fecha_parcial.value = date;
                                                    fecha_parcial.defaulValue = date;
                                                    fecha_parcial.innerHTML = date;


                                                    console.log(date)


                                                    // en esta funcion se cambia el vlor de la fecha al input oculto ara poer enviarlo al servidor
                                                    function cambio() {
                                                        fecha = document.getElementById('fecha')
                                                        fecha_parcial = document.getElementById('fecha_parcial');
                                                        fecha.value = fecha_parcial.value;

                                                    }
                                                </script>



                                            </div>

                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th>Fecha</th>
                    <th>Monto Total</th>
                    <th>Ver mas</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>


  <!-- <script>
      function verificar() {
          table = document.getElementsByTagName('td')
          console.log(table.length)
  
  
          ocultar = document.getElementsByClassName('bg-light')
  
          if(table.length > 0){
  
              for (var i = 0; i < ocultar.length; i++) {
  
                  ocultar[i].setAttribute('href', '')
              }
          }
  
      }
  
      window.onload = function () {
          verificar()
      };
  </script> -->
  {% load static %}
  <script src="{% static '/js/functions.js' %}"></script>
</div>


{% endblock ventas %}