<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <div class="contenedor" style="margin: 3% auto; width: fit-content; height: fit-content; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.53); padding: 1rem;">

        
        {% if ver_compras %}
        
            <a href="ver_compras">Regresar</a>

            {% for ver in ver_compras  %}
                <h2>Fecha: {{fecha}}</h2>
                <h4>Producto: {{ver.nombre}}</h4>
                <h4>Categoria: {{ver.categoria}}</h4>
                <h4>Medida: {{ver.unidad_medida}}</h4>
                <h4>Cantidad: {{ver.cantidad}}</h4>
                <h4>Precio: {{ver.precio}}</h4>
                <h4>Sub Total: {{ver.subtotal}}</h4>
                <br>
                <hr>
                

                
            {% endfor %}

            <a href="ver_compras">Regresar</a>
            
        {% else %}
            
            <a href="compras">Regresar</a>

            {% for compra in compras  %}
        
                <h3>Fecha: {{compra.fecha_compra}}</h3>
                <h3>Total de la compra: {{compra.total_compra}}</h3>
                <form action="ver_compras" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id_ver_compras" value="{{compra.id}}">
                    <button type="submit"> Ver Compras Realizadas</button>
                </form>
                <br>
                <hr>

            {% endfor %}

        {% endif %}
            
        
        
        
        
        
        

    </div>
        
</body>
</html>