{% extends 'base/template.html'%}

{% block titulocompras %}
<title>Listado Productos</title>
{% endblock titulocompras %}

{% block listado_productos %}

<form action="listado_productos" method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-xl-8">
      <input type="search" class="form-control" name="filtroNombre" placeholder="Escriba lo que desea buscar..." id="">
    </div>
    <div class="form-group col-xl-2">
      <button type="submit" class="form-control btn btn-outline-info">Buscar...</button>
    </div>
    <div class="form-group col-xl-2">
      <a class="form-control btn btn-outline-danger" href="listado_productos">Mostrar Todo</a>
    </div>
  </div>
  

</form>

<div class="row aca">
  <style>
    /* ESTE ESTILO SIRVE PARA QUE EL CONTENIDO DE LOS DIVS HIJOS TENGAN EL MISMO TAMANO */
    .aca{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .aca2{
      display: -webkit-flex;
      display: flex;
    }
    
  </style>

  {% for mostrar in productos  %}


  <div class="col-xl-3 aca2">
    <div class="card shadow p-3 mb-5 bg-white rounded border cont-imagen">

      <img class="card-img-top img-thumbnail imagen rounded mx-auto d-block" src="{{mostrar.imagen.url}}"
        alt="Card image cap">

      <style>
        /* .card-img-top {
          width: 250px%;
          height: 20vw;
          object-fit: cover;
        } */

        /* .cont-imagen {
          width: fit-content;
          max-height: 100%;

        } */

        .imagen {
          width: fit-content;
          height: 250px;
          min-height: 300px;
          max-height: auto;
          float: left;
          margin: 3px;
          padding: 3px;
          object-fit: cover;

          /* padding: 0 -21%; */
        }
      </style>

      <div class="card-body">
        <div class="row">
          <div class="form-group col-xl-12 card-title">
            <h4>{{mostrar.id_nombre_producto.nombre_productos}}</h4>
          </div>

          
          <div class="form-group col-xl-8">
            <input class="form-control text-center text-primary" type="text" placeholder="{{mostrar.precio}} Gs."
              readonly>
          </div>

          <div class="form-group col-xl-4">
            <input class="form-control text-center text-primary" type="text" placeholder="{{mostrar.cantidad_stock}}"
              readonly>
          </div>

          <div class="form-group col-xl-12">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info float-right" data-toggle="modal"
              data-target="#modal{{mostrar.id}}">
              Ver Mas!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal{{mostrar.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mas sobre el Producto!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="row padre">

                      <div class="form-group ">
                        <img class="card-img-top img-thumbnail hijo" src="{{mostrar.imagen.url}}"
                          alt="Card image cap">
                          <style>
                            .padre{
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            }
                            .hijo{
                              width: 100%;
                              height: 100%;
                            }
                          </style>
                      </div>


                      <!-- Title -->
                      <div class="form-group col-xl-12 card-title">
                        <h4 class="card-title"><strong>{{mostrar.id_nombre_producto.nombre_productos}}</strong></h4>
                      </div>

                      <!-- Text -->
                      <div class="form-group col-xl-12 card-title">
                        <p class="card-text">"{{mostrar.descripcion_producto}}"</p>
                      </div>


                      <div class="form-group col-xl-7">
                        <input class="form-control text-center text-primary" type="text"
                        readonly value="{{mostrar.precio}} Gs." >
                      </div>

                      <div class="form-group col-xl-6">
                        <input class="form-control text-center text-primary" type="text" id="cantidad{{mostrar.id}}"
                          readonly value="{{mostrar.cantidad_stock}}" >
                      </div>

                      <div class="form-group col-xl-6" style="width: 200px;">
                        <button type="button" id="boton_activ{{mostrar.id}}" class="form-control btn btn-outline-success">Agg. Cantidad</button>
                        <button type="button" id="boton_add{{mostrar.id}}" class="btn btn-success" style=" float: left; display: none; font-weight: bold;">+</button>
                        <button type="button" id="boton_cancel{{mostrar.id}}" class="btn btn-danger" style=" margin-left: 10px; display: none; font-weight: bold;">x</button>
                      </div>

                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" id="cerrar{{mostrar.id}}" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="guardar{{mostrar.id}}" class="btn btn-outline-success" style="display: none;">Guardar Cambios</button>
                    <form action="listado_productos" method="post" id="form{{mostrar.id}}">
                      {% csrf_token %}
                      <input type="hidden" name="id" id="id{{mostrar.id}}">
                      <input type="hidden" name="cantidad_enviar" id="cantidad_enviar{{mostrar.id}}">
                      <input type="hidden" name="cambiar_valor" value="cambiar_valor">
                    </form>
                  </div>
                </div>
              </div>


              <script>

                var boton_activ{{mostrar.id}} = document.getElementById('boton_activ{{mostrar.id}}');
                var boton_add{{mostrar.id}} = document.getElementById('boton_add{{mostrar.id}}');
                var boton_cancel{{mostrar.id}} = document.getElementById('boton_cancel{{mostrar.id}}');
                var cerrar{{mostrar.id}} = document.getElementById('cerrar{{mostrar.id}}');
                var guardar{{mostrar.id}} = document.getElementById('guardar{{mostrar.id}}');
                var cantidad{{mostrar.id}} = document.getElementById('cantidad{{mostrar.id}}')
                var cantidad_enviar{{mostrar.id}} = document.getElementById('cantidad_enviar{{mostrar.id}}')
                var form{{mostrar.id}} = document.getElementById('form{{mostrar.id}}')

                boton_activ{{mostrar.id}}.addEventListener("click", function () {
                  boton_activ{{mostrar.id}}.style.display = 'none';
                  boton_add{{mostrar.id}}.style.display='';
                  boton_cancel{{mostrar.id}}.style.display='';
                  cerrar{{mostrar.id}}.style.display='none';
                  guardar{{mostrar.id}}.style.display='';

                });

                boton_cancel{{mostrar.id}}.addEventListener("click", function () {
                  boton_activ{{mostrar.id}}.style.display = '';
                  boton_add{{mostrar.id}}.style.display='none';
                  boton_cancel{{mostrar.id}}.style.display='none';
                  cerrar{{mostrar.id}}.style.display='';
                  guardar{{mostrar.id}}.style.display='none';
                  cantidad{{mostrar.id}}.value = {{mostrar.cantidad_stock}};

                });

                boton_add{{mostrar.id}}.addEventListener("click", function () {

                  valor = parseInt(cantidad{{mostrar.id}}.value);
                  valor += 1;
                  cantidad{{mostrar.id}}.value = valor;

                });

                guardar{{mostrar.id}}.addEventListener("click", function () {

                  cantidad_enviar{{mostrar.id}}.value = cantidad{{mostrar.id}}.value;
                  id{{mostrar.id}}.value = {{mostrar.id}};
                  
                  if (confirm('Desea guardar los cambios ?'))
                  {
                    send_form(form{{mostrar.id}});
                  }
                });


              </script>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>


  {% endfor %}

  <!-- <div class="col-xl-12">
        <h1>{{productos}}</h1>
    </div> -->
</div>



{% endblock listado_productos %}