{% extends 'base/template.html'%}

{% block titulocompras %}
<title>Listado Productos</title>
{% endblock titulocompras %}

{% block listado_productos %}

<div class="row">

    {% for mostrar in productos  %}
    
    <div>
        <div class="card" style="width: 18rem; margin: 1rem 2rem; display: inline-block;">
            <img class="card-img-top" src="{{mostrar.imagen.url}}" alt="Card image cap" style="width:100%;max-width:300px; max-height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    {% endfor %}

    <!-- <div class="col-xl-12">
        <h1>{{productos}}</h1>
    </div> -->
</div>



{% endblock listado_productos %}