{% extends 'base/template.html'%}

{% block titulocompras %}
<title>Listado Productos</title>
{% endblock titulocompras %}

{% block listado_productos %}

<div class="row">

    {% for mostrar in productos  %}
   
    <div class="col-xl-3">
        <div class="card shadow p-3 mb-5 bg-white rounded border">

            <img class="card-img-top" src="{{mostrar.imagen.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-primary">Ver mas</a>
            </div>

          </div>
          
    </div>

    
    {% endfor %}

    <!-- <div class="col-xl-12">
        <h1>{{productos}}</h1>
    </div> -->
</div>



{% endblock listado_productos %}