{% extends 'base/template.html'%}

{% block productos%}

<div class="container rounded">

    <div class="row" style="margin-top: 100px; align-items: center; display: flex; justify-content: center;">
        <!-- este style es para centar el div de la clase col -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">

                <div class="card-body">

                    <h5 class="card-title">¡Productos!</h5>

                    <form action="productos" method="POST" id="form_id" enctype="multipart/form-data">

                        {% csrf_token %}

                        <input type="hidden" name="guardar" value="guardar" enctype="multipart/form-data">
                        <div class="form-group">


                            <div class="form-group">

                                <select class="form-control" title="Selecione una categoría" id="categoria">
                                    <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar
                                        Categorias
                                    </option>

                                    {% for mostrar in categoria  %}
                                    <option value="{{mostrar.nombre_categoria}}">{{mostrar.nombre_categoria}}</option>

                                    {% endfor %}


                                </select>

                            </div>

                            <div class="row">

                                <div class="form-group col-xl-8">

                                    <select class="form-control" data-live-search="true" title="Seleccione un Producto"
                                        id="select_producto">
                                        <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar
                                            Productos
                                        </option>
                                        {% for mostrar in nombre %}

                                        <option class="nombre_productos" value="{{mostrar.id}}-{{mostrar.categoria}}">
                                            {{mostrar.nombre_productos}}</option>
                                        {% endfor %}

                                    </select>

                                    <input type="hidden" name="id_producto" id="id_producto" value="valor">

                                    <script>
                                        var categoria = document.getElementById('categoria');
                                        var productos = document.getElementsByClassName('nombre_productos');
                                        var select_productos = document.getElementById('select_producto');
                                        var enviar_producto = document.getElementById('id_producto');

                                        console.log(select_productos)

                                        for (var i = 0; i < productos.length; i++) {
                                            productos[i].style.display = 'none';

                                        }

                                        categoria.addEventListener("change", function () {
                                            filtro(categoria, productos);
                                            cambiar_enviar(select_productos, enviar_producto);
                                            console.log(enviar_producto.value);
                                        });

                                        select_productos.addEventListener("change", function () {
                                            cambiar_enviar(select_productos, enviar_producto);
                                            console.log(enviar_producto.value);
                                        });
                                    </script>

                                </div>

                                <div class="form-group col-xl-4">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="form-control btn btn-outline-info " data-toggle="modal" data-target="#modal{{mostrar.id}}">
                                        Agregar nombre
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modal{{mostrar.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Agregar un Nuevo Nombre de Producto!</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="container rounded">

                                                        <div class="row">

                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                                                <div class="card shadow p-3 mb-5 bg-white rounded"style="border:none;">

                                                                    <div class="card-body">

                                                                        <h5 class="card-title">Nombre del Producto!</h5>

                                                                        <!-- <form action="productos" method="post" id="id_form_modal"> -->

                                                                        {% csrf_token %}

                                                                        <input type="hidden" name="guardar" value="guardar">

                                                                        <div class="form-group">

                                                                            <div class="form-group">

                                                                                <select class="form-control selectpicker" id="id_categoria_cambiar" name="categoria" title="Selecione una categoría">

                                                                                    {% for mostrar_modal in categoria  %}
                                                                                        <option value="{{mostrar_modal.id}}">{{mostrar_modal.nombre_categoria}}</option>

                                                                                    {% endfor %}

                                                                                </select>

                                                                            </div>

                                                                            <div class="form-group"> 

                                                                                <input type="text" class="form-control" name="producto" placeholder="Nombre del Producto" id="nombre_producto_cambiar" required>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button id="enviar_form" type="button" class="btn btn-outline-info float-right" data-dismiss="modal">Guardar</button>
                                                </div>

                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="form-group">
                                <div class="custom-file">

                                    {% for mostrar in form  %}

                                    <label for="{{form.auto_id}}" class="custom-file-label">sube una imagen</label>
                                    {{form}}
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="form-group">

                                <textarea class="form-control" id="" rows="3" placeholder="Ingrese una descripción"
                                    name="descripcion"></textarea>

                            </div>

                            <div class="form-group">

                                <input type="number" class="form-control" name="cantidad" placeholder="Cantidad"
                                    required>

                            </div>

                            <div class="form-group">

                                <input type="number" class="form-control" name="precio" placeholder="Ingrese el precio"
                                    required>

                            </div>

                        </div>

                        <!-- <input type="submit" class="btn btn-outline-info" value="Guardar"> -->

                        <button id="enviar_principal" class="btn btn-outline-info">Guardar</button>



                    </form>

                    <form action="productos" method="post" id="segundo_form">
                        {% csrf_token %}
                        <input type="hidden" value="valor" name="id_categoria" id="id_categoria" required>
                        <input type="hidden" value="valor" name="nombre_producto" id="nombre_producto" required>
                        <input type="hidden" value="agregar_nombre" name="agregar_nombre" required>
                    </form>

                        <script>

                            form = document.getElementById('id_form');
                            button = document.getElementById('enviar_principal');
                            boton_segundo_form = document.getElementById('enviar_form');
                            segundo_form = document.getElementById('segundo_form');
                            id_categoria = document.getElementById('id_categoria');
                            nombre_producto = document.getElementById('nombre_producto');
                            id_categoria_cambiar = document.getElementById('id_categoria_cambiar');
                            nombre_producto_cambiar = document.getElementById('nombre_producto_cambiar');

                            button.addEventListener("click", function () {
                                confirm(' Desea guardar este producto?. ');
                                if (confirm){
                                    send_form(form);
                                }
                            });

                            boton_segundo_form.addEventListener("click", function () {
                                confirm(' Desea guardar este nomre de producto?. ');
                                if (confirm){

                                    id_categoria.value = id_categoria_cambiar.value;
                                    nombre_producto.value = nombre_producto_cambiar.value;
                                    // console.log(id_categoria.value);
                                    // console.log(nombre_producto.value);
                                    send_form(segundo_form);

                                }
                            });

                        </script>
                </div>

            </div>



        </div>

    </div>

</div>






{% endblock productos %}