{% extends 'base/template.html'%}

{% block productos%}

<div class="container rounded">

    <div class="row" style="margin-top: 100px; align-items: center; display: flex; justify-content: center;">
        <!-- este style es para centar el div de la clase col -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">

                <div class="card-body">

                    <h5 class="card-title">¡Productos!</h5>

                    <form action="productos" method="POST" id="form_id">

                        {% csrf_token %}

                        <input type="hidden" name="guardar" value="guardar" enctype="multipart/form-data">
                        <div class="form-group">


                            <div class="form-group">

                                <select class="form-control" title="Selecione una categoría" id="categoria">
                                    <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar Categorias
                                    </option>

                                    {% for mostrar in categoria  %}
                                    <option value="{{mostrar.nombre_categoria}}">{{mostrar.nombre_categoria}}</option>
                                      
                                    {% endfor %}


                                </select>

                            </div>

                            <div class="row">

                                <div class="form-group col-xl-8">

                                    <select class="form-control" data-live-search="true"
                                        title="Seleccione un Producto" id="select_producto">
                                        <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar Productos
                                        </option>
                                        {% for mostrar in nombre %}

                                        <option class="nombre_productos" value="{{mostrar.id}}-{{mostrar.categoria}}">{{mostrar.nombre_productos}}</option>
                                        {% endfor %}
                                      
                                    </select>

                                    <input type="hidden" name="id_producto" id="id_producto" value="valor">

                                    <script>
                                        var categoria = document.getElementById('categoria');
                                        var productos = document.getElementsByClassName('nombre_productos');
                                        var select_productos = document.getElementById('select_producto');
                                        var enviar_producto = document.getElementById('id_producto');

                                        console.log(select_productos)

                                        for (var i = 0; i < productos.length; i++) {
                                            productos[i].style.display = 'none';

                                        }

                                        categoria.addEventListener("change", function () {
                                            filtro(categoria, productos);
                                            cambiar_enviar(select_productos, enviar_producto);
                                            console.log(enviar_producto.value)
                                        });

                                        select_productos.addEventListener("change", function () {
                                            cambiar_enviar(select_productos, enviar_producto);
                                            console.log(enviar_producto.value)
                                        });

    
                                    </script>

                                </div>

                                <div class="form-group col-xl-4">

                                    <button type="button" class="form-control btn btn-outline-info" data-toggle="modal"
                                        data-target="#exampleModalCenter">Añadir Producto Nuevo</button>
                                    
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">¡Añada el Nombre
                                                        de un Producto Nuevo!</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="container rounded">

                                                        <div class="row">

                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">

                                                                <div class="card shadow p-3 mb-5 bg-white rounded"
                                                                    style="border:none;">

                                                                    <div class="card-body">

                                                                        <h5 class="card-title">Nombre del Producto!</h5>

                                                                        <!-- <form action="productos" method="post" id="id_form_modal"> -->

                                                                            <!-- {% csrf_token %} -->

                                                                            <input type="hidden" name="guardar"
                                                                                value="guardar">
                                                                            <div class="form-group">

                                                                                <div class="form-group">

                                                                                    <select
                                                                                        class="form-control selectpicker"
                                                                                        name="categoria"
                                                                                        title="Selecione una categoría">

                                                                                        <option option id=""
                                                                                            value="Tunas">Tunas</option>
                                                                                        <option option id=""
                                                                                            value="Suculentas">
                                                                                            Suculentas</option>
                                                                                        <option option id=""
                                                                                            value="Plantas Ornamentales">
                                                                                            Plantas Ornamentales
                                                                                        </option>


                                                                                    </select>

                                                                                </div>

                                                                                <div class="form-group">

                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="producto"
                                                                                        placeholder="Nombre del Producto">

                                                                                </div>

                                                                            </div>

                                                                            

                                                                            <button type="button" class="btn btn-outline-info float-right" id="enviar" >Agregar</button>

                                                                            
                                                                            <!-- <script>
                                                                                form = document.getElementById('id_form_modal')
                                                                                button = document.getElementById('enviar')

                                                                                categoria.addEventListener("click", function () {
                                                                                    send_form(form)
                                                                                });
                                                                                      
                                                                            </script> -->


                                                                        <!-- </form> -->

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded"
                                                                style="border:none;">

                                                                <table id="example"
                                                                    class="tablita table  table-hover table-bordered  display nowrap"
                                                                    cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="color: #A3A6B4;">Producto</th>
                                                                            <th style="color: #A3A6B4;">Categoría</th>
                                                                            <th style="color: #A3A6B4;">Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        <tr>
                                                                            <td class="small" id=""></td>
                                                                            <td class="small"></td>

                                                                            <!-- codigo para el boton de editar 
                                                                                -------------------------------------------------- -->
                                                                            <td class="small">
                                                                                {% load static %}
                                                                                <!-- <i style="color: white;" type="button"
                                                                                    data-toggle="modal"
                                                                                    data-target="#editar{{insumo.id}}"><i><img
                                                                                            src="{% static '/assets/icons/icon_edit.svg' %}"
                                                                                            alt=""></i></i> -->

                                                                                <!-- codigo para el boton de borrar  -->
                                                                                <!-- -------------------------------------------- -->
                                                                                <!-- Button trigger modal -->
                                                                                <!-- <i style="color: white; padding:0 10px ;"
                                                                                    type="button" data-toggle="modal"
                                                                                    data-target="#borrar">
                                                                                    {% load static %}
                                                                                    <img src="{% static '/assets/icons/circle-remove.svg' %}"
                                                                                        alt="">
                                                                                </i> -->

                                                                            </td>

                                                                        </tr>



                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <th style="color: #A3A6B4;">Producto</th>
                                                                            <th style="color: #A3A6B4;">Categoría</th>
                                                                            <th style="color: #A3A6B4;">Acciones</th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>

                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger"
                                                        data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="imagen">
                                    <label class="custom-file-label" for="customFile">Sube una imagen</label>
                                </div>                                
                            </div>

                            <div class="form-group">

                                <textarea class="form-control" id="" rows="3"
                                    placeholder="Ingrese una descripción" name="descripcion"></textarea>

                            </div>

                            <div class="form-group">

                                <input type="number" class="form-control" name="cantidad" placeholder="Cantidad"
                                    required>

                            </div>

                            <div class="form-group">

                                <input type="number" class="form-control" name="precio" placeholder="Ingrese el precio"
                                    required>

                            </div>


                        </div>

                        <!-- <input type="submit" class="btn btn-outline-info" value="Guardar"> -->

                        <button id="enviar_principal" class="btn btn-outline-info">Guardar</button>


                        <script>
                            form = document.getElementById('id_form')
                            button = document.getElementById('enviar_principal')

                            categoria.addEventListener("click", function () {
                                send_form(form)
                            });
                            

                            
                        </script>

                    </form>

                </div>

            </div>



        </div>

    </div>

</div>






{% endblock productos %}