{% extends 'base/template.html' %}


{% block listado_compras %}

<div class="container rounded">

    <div class="row" style="margin-top: 100px; align-items: center; display: flex; justify-content: center;">
        <!-- este style es para centar el div de la clase col -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded" style="border:none;">

            <table id="example" class="tablita table  table-hover table-bordered  display nowrap" cellspacing="0"
                width="100%">
                <thead>
                    <tr style="color: #A3A6B4;">
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Ver Más</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="small">
                        <td id="select{{insumo.id}}">20/10/2020</td>
                        <td>120.000</td>
                        <td>
                            {% load static %}
                            <i style="color: white; padding:0 10px;" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                {% load static %}
                                <img src="{% static '/assets/icons/icon_alert-circle-exc.svg' %}" alt="">
                            </i>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Detalles de la Compra
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">


                                            <div class="container rounded">

                                                <div class="form-group">
                                                    <label for="fecha_produccion">Fecha de la Compra:</label>
                                                    <input type="date" readonly class="form-control" id="fecha"
                                                        placeholder="Fecha de Inicio">
                                                    <!-- style de codigo para establecer el tamanho del input fecha -->
                                                    <style>
                                                        @media only screen and (min-width: 600px) {
                                                            #fecha {
                                                                width: 25%;
                                                            }
                                                        }
                                                    </style>
                                                </div>

                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded"
                                                    style="border:none; ">

                                                    <div class="table-responsive">
                                                        <table id="example"
                                                            class="tablita table  table-hover table-bordered  display nowrap"
                                                            cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Medida</th>
                                                                    <th>Precio</th>
                                                                    <th>Sub Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Hola</td>
                                                                    <td>Hola</td>
                                                                    <td>Hola</td>
                                                                    <td>Hola</td>
                                                                    <td>Hola</td>
                                                                    <td>Hola</td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Medida</th>
                                                                    <th>Precio</th>
                                                                    <th>Sub Total</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label for="total_compra">Total de la Compra:</label>
                                                    <input type="number" readonly class="form-control" id="total_compra" value="150.000">
                                                    <!-- style de codigo para establecer el tamanho del input fecha -->
                                                    <style>
                                                        @media only screen and (min-width: 600px) {
                                                            #total_compra{
                                                                width: 25%;
                                                            }
                                                        }
                                                    </style>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr style="color: #A3A6B4;">
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Ver Más</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

{% endblock listado_compras %}