{% extends 'base/template.html' %}

{% block nombre_productos %}

{% block titulonombre_productos %}
<title>Nombre Productos</title>
{% endblock titulonombre_productos %}

<div class="container rounded">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">

            <div class="card shadow p-3 mb-5 bg-white rounded"
                style="border:none;">

                <div class="card-body">

                    <h5 class="card-title">Nombre del Producto!</h5>

                    <form action="nombre_productos" method="post" id="id_form_modal">

                        {% csrf_token %}

                        <input type="hidden" name="guardar" value="guardar"> 

                        <div class="form-group">

                            <div class="form-group">

                                <select class="form-control selectpicker" name="categoria" title="Selecione una categoría">

                                    {% for mostrar in categoria %}                    

                                    <option option id="" value="{{mostrar.id}}">{{mostrar.nombre_categoria}}</option>
                                    <!-- <option option id="" value="Suculentas"> Suculentas</option>
                                    <option option id="" value="Plantas Ornamentales"> Plantas Ornamentales </option> -->

                                    {% endfor %}

                                </select>

                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" name="nombre_productos" placeholder="Nombre del Producto" required>

                            </div>

                        </div>

                        

                        <button type="submit" class="btn btn-outline-info float-right" id="enviar">Guardar</button>

                        
                        <script>
                            form = document.getElementById('id_form_modal')
                            button = document.getElementById('enviar')

                            categoria.addEventListener("click", function () {
                                send_form(form)
                            });
                                  
                        </script>


                    </form>

                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded"
            style="border:none;">

            <table id="example"
                class="tablita table  table-hover table-bordered  display nowrap"
                cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="color: #A3A6B4;">categoria</th>
                        <th style="color: #A3A6B4;">Nombre</th>
                        <th style="color: #A3A6B4;">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for mostrar in nombre %}

                    <tr>
                        <td class="small" id="">{{mostrar.categoria.nombre_categoria}}</td>
                        <td class="small">{{mostrar.nombre_productos}}</td>
                        <td class="small">
                            {% load static %}
                            <i style="color: white;" type="button" data-toggle="modal"
                                data-target="#editar{{mostrar.id}}"><i><img
                                        src="{% static '/assets/icons/icon_edit.svg' %}" alt=""></i></i>

                            <!-- codigo para el boton de borrar  -->
                            <!-- -------------------------------------------- -->
                            <!-- Button trigger modal -->
                            <i style="color: white; padding:0 10px ;" type="button" data-toggle="modal"
                                data-target="#borrar{{mostrar.id}}">
                                {% load static %}
                                <img src="{% static '/assets/icons/circle-remove.svg' %}" alt="">
                            </i>

                        </td>

                        <!-- modal para el boton de editar -->

                        <div class="modal fade" id="editar{{mostrar.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar Datos</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="nombre_productos">
                                            {% csrf_token %}


                                            <div class="form-group">

                                                <label for="nombre{{mostrar.id}}" class="col-form-label">Categoria:</label>

                                                <select class="form-control" id="nombre{{mostrar.id}}" name="categoria">

                                                    {% for categorias in categoria %}                    
                
                                                    <option class="productos{{mostrar.id}}" id="opcion{{mostrar.nombre_productos}}" value="{{categorias.id}}">{{categorias.nombre_categoria}}</option>
                                            
                
                                                    {% endfor %}
                
                                                </select>

                                                <script language="Javascript1.5">
                                                    var elements = document.getElementsByClassName('productos{{mostrar.id}}')
                                                    var select = document.getElementById('select{{mostrar.id}}')

                                                    function selected(elements, select) {

                                                        for (var i = 0; i < elements.length; i++) {
                                                            // console.log(elements[i].innerHTML)
                                                            if (elements[i].innerHTML == select.innerHTML) {
                                                                elements[i].setAttribute('selected', 'selected');

                                                            }


                                                        }
                                                    }

                                                    selected(elements, select)


                                                    // console.log(select.innerHTML)
                                                </script> 
                                            </div>

                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Nombre del
                                                    Producto:</label>
                                                <input name="nombre" value="{{mostrar.nombre_productos}}" type="text"
                                                    class="form-control" id="recipient-name">
                                            </div>


                                            <input type="hidden" name="iden" value="{{mostrar.id}}">
                                            <input type="hidden" name="editar" value="editar">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-outline-success">Guardar Cambios</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal para borrar -->
                        <div class="modal fade" id="borrar{{mostrar.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="nombre_productos" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input type="hidden" name="id_borrar" value="{{mostrar.id}}">
                                            <input type="hidden" name="borrar" value="borrar">
                                            Desea Eliminar este Registro?
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-outline-info">Borrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </tr>

                    {% endfor %}


                </tbody>
                <tfoot>
                    <tr>
                        <th style="color: #A3A6B4;">categoria</th>
                        <th style="color: #A3A6B4;">Nombre</th>
                        <th style="color: #A3A6B4;">Acciones</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

{% endblock nombre_productos %}