{% extends 'base/template.html' %}

{% block listado_pedidos %}

{% block titulo_listado_pedidos %}
<title>Listado Pedidos</title>
{% endblock titulo_listado_pedidos %}


<div class="container rounded">

    <div class="row" style="align-items: center; display: flex; justify-content: center;">
        <!-- este style es para centar el div de la clase col -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 card shadow p-3 mb-5 bg-white rounded" style="border:none;">

            <table id="example" class="tablita table  table-hover table-bordered  display nowrap" width="100%">
                <thead>
                    <tr style="color: #A3A6B4;">
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                {% for mostrar_pedidos in pedidos reversed %}

                    
                    {% if not mostrar_pedidos.id_ventas %}
                        
                        <tr class="small">
                            <td id="select{{insumo.id}}">{{mostrar_pedidos.fecha_pedido}}</td>
                            <td>{{mostrar_pedidos.estado_pedido}}</td>
                            <td>
                                {% load static %}
                                <i style="color: white; padding:0 10px ;" type="button" ; data-toggle="modal" ;
                                    data-target="#pedidos{{mostrar_pedidos.id}}">
                                    {% load static %}
                                    <img src="{% static '/assets/icons/icon_alert-circle-exc.svg' %}" alt="">
                                </i>
                                <!-- Modal -->
                                <div class="modal fade" id="pedidos{{mostrar_pedidos.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Finalizar Pedido</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">


                                                <div class="container rounded">

                                                    <div class="form-group">
                                                        <label for="fecha_pedido">Fecha de Inicio:</label>
                                                        <input type="fecha" readonly class="form-control" id="fecha" placeholder="Fecha de Inicio" value="{{mostrar_pedidos.fecha_pedido}}">
                                                    </div>

                                                    <button id="productos" class="btn btn-outline-info boton" data-li="productos">Pedidos</button>
                                                    <button id="insumos" class="btn btn-outline-info boton" data-li="insumos">Cliente</button>
                                                    
                                                    
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item productos"
                                                    style="border:none; margin-top: 20px;">
                                                    
                                                    <div class="table-responsive">
                                                        <table id="example"
                                                            class="tablita table  table-hover table-bordered  display nowrap"
                                                            cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Precio</th>
                                                                    <th>Sub Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                
                                                                {% for mostrar_detalles in detalles_pedidos reversed %}
                                                                    {% if mostrar_detalles.id_pedido.id == mostrar_pedidos.id %}
                                                                        <tr>
                                                                            
                                                                            <td>{{mostrar_detalles.id_producto.id_nombre_producto.categoria}}</td>
                                                                            <td>{{mostrar_detalles.id_producto.id_nombre_producto.nombre_productos}}</td>
                                                                            <td>{{mostrar_detalles.cantidad}}</td>
                                                                            <td>{{mostrar_detalles.precio}}</td>
                                                                            <td>{{mostrar_detalles.subtotal_producto}}</td>
                                        
                                                                            
                                                                        </tr>
                                                                        
                                                                    {% endif %}
                                                                
                                                                {% endfor %}

                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="color: #A3A6B4;">
                                                                    <th>Categoría</th>
                                                                    <th>Producto</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Precio</th>
                                                                    <th>Sub Total</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                        </div>

                                                    </div>

                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card shadow p-3 mb-5 bg-white rounded item insumos"
                                                        style="border:none; margin-top: 20px; display: none;">

                                                        <div class="table-responsive">
                                                            <table id="example"
                                                                class="tablita table  table-hover table-bordered  display nowrap"
                                                                cellspacing="0" width="100%">
                                                                <thead>
                                                                    <tr style="color: #A3A6B4;">
                                                                        <th>Nombre</th>
                                                                        <th>Direccion</th>
                                                                        <th>Telefono</th>
                                                                        <!-- <th>Accion</th> -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{mostrar_pedidos.id_cliente.nombre_cliente}}</td>
                                                                        <td>{{mostrar_pedidos.id_cliente.direccion}}</td>
                                                                        <td>{{mostrar_pedidos.id_cliente.telefono}}</td>

                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr style="color: #A3A6B4;">
                                                                        <th>Nombre</th>
                                                                        <th>Direccion</th>
                                                                        <th>Telefono</th>
                                                                        <!-- <th>Accion</th> -->
                                                                    </tr>
                                                                </tfoot>
                                                            </table>

                                                        </div>

                                                    </div>

                                                    <div class="col-sm-12">

                                                        <div class="form-group">
                                                            <label for="total_compra">Monto Total del Pedido:</label>
                                                            <input type="text" readonly class="form-control" value="{{mostrar_pedidos.precio_total}}">
                                                        </div>

                                                        <div class="Fecha">
                                                            <div class="form-group">
                                                                <label for="fecha_pedido">Fecha de Acabado:</label>
                                                                <input type="date" class="form-control" id="fecha_parcial{{mostrar_pedidos.id}}"
                                                                    placeholder="Fecha de Inicio">
                                                            </div>
                                                        </div>

                                                        <script>
                                                            // el codigo de abajo es para poder poner la fecha por defecto en el input de tipo date

                                                            var today = new Date();
                                                            var dd = String(today.getDate()).padStart(2, '0');
                                                            var mm = String(today.getMonth() + 1).padStart(2,
                                                            '0'); //January is 0!
                                                            var yyyy = String(today.getFullYear());

                                                            date = String(yyyy + '-' + mm + '-' + dd);
                                                            // document.write(today);


                                                            fecha_parcial = document.getElementById('fecha_parcial{{mostrar_pedidos.id}}');

                                                            // fecha_utc = date.toUTCString()
                                                            fecha_parcial.value = date;
                                                            fecha_parcial.defaulValue = date;
                                                            fecha_parcial.innerHTML = date;


                                                            // console.log(date)


                                                            
                                                        </script>



                                                    </div>

                                                </div>


                                            </div>
                                            <form action="listado_pedidos" id="form_finalizar_pedido{{mostrar_pedidos.id}}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_pedido" value="{{mostrar_pedidos.id}}">
                                                <input type="hidden" id="fecha_finalizar_pedido{{mostrar_pedidos.id}}" name="fecha_finalizar_pedido" value="">
                                                <input type="hidden" name="finalizar_pedido" value="finalizar_pedido">
                                                  
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="button" id="finalizar_pedido{{mostrar_pedidos.id}}" class="btn btn-outline-success">Finalizar Pedido</button>

                                                <script>

                                                    
                                                    var finalizar_pedido{{mostrar_pedidos.id}} = document.getElementById('finalizar_pedido{{mostrar_pedidos.id}}');
                                                    var form_finalizar_pedido{{mostrar_pedidos.id}} = document.getElementById('form_finalizar_pedido{{mostrar_pedidos.id}}');
                                                    var fecha{{mostrar_pedidos.id}} = document.getElementById('fecha_finalizar_pedido{{mostrar_pedidos.id}}')
                                                    var fecha_parcial{{mostrar_pedidos.id}} = document.getElementById('fecha_parcial{{mostrar_pedidos.id}}');
                                                    
                                                    finalizar_pedido{{mostrar_pedidos.id}}.addEventListener('click',function(){
                                                        
                                                        fecha{{mostrar_pedidos.id}}.value = fecha_parcial{{mostrar_pedidos.id}}.value;
                                                        form_finalizar_pedido{{mostrar_pedidos.id}}.submit();
                                                        // console.log(document.getElementById('fecha_finalizar_pedido{{mostrar_pedidos.id}}').value)
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                    {% endif %}
                        
                {% endfor %}


                </tbody>
                <tfoot>
                    <tr>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>


{% endblock %}