{% extends 'base/template.html'%}


{% block pedidos%}

{% block titulopedidos %}
<title>Pedidos</title>
{% endblock titulopedidos %}


<div class="container rounded">

    <button id="productos" class="btn btn-outline-info boton" data-li="productos">Pedidos</button>
    <button id="insumos" class="btn btn-outline-info boton" data-li="insumos">Cliente</button>


    <div class="row" style="margin-top: 20px;">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 item productos">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">


                <div class="card-body responsive">
                    <h5 class="card-title">¡Pedidos!</h5>

                    <form action="pedidos" method="post" id="formulario">
                        {% csrf_token %}

                        <div class="form-group">
                            <select class="form-control" id="categoria_productos">
                                <option disabled selected> Seleccionar Categoria</option>
                                {% for categorias in categoria  %}
                                <option class="categoria" 
                                    value="{{categorias.nombre_categoria}}">{{categorias.nombre_categoria}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="nombre_productos" id="select_producto" required>
                                <option id="desactivar" disabled='disabled' selected='selected'> Seleccionar Producto</option>
                                {% for nombre in productos  %}
                                <option class="nombre_productoss" 
                                    value="{{nombre.id}}-{{nombre.id_nombre_producto.categoria.nombre_categoria}}-{{nombre.precio}}-{{nombre.cantidad_stock}}">{{nombre.id_nombre_producto.nombre_productos}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="precio_producto" id="precio_producto" placeholder="Precio Producto" readonly >
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="cantidad_stock_producto" id="cantidad_stock_producto" placeholder="Cantidad Existente" disabled>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" name="cantidad_pedido" id="cantidad" placeholder="Cantidad Pedido" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="precio_pedido" id="precio" placeholder="Precio Pedido" readonly>
                        </div>

                        <input type="hidden" name="guardar" value="guardar">
                        <button type="submit" class="btn btn-outline-info float-right">Agregar</button>
                        <button style="margin-right: 10px;" type="reset" class="btn btn-outline-secondary float-right" value="Limpiar">Limpiar</button>

                        <script>

                            // en este codigo se realiza un filtro de los productos por sus categorias 

                            // para mostrar en los Selection

                            // primero se cambia la propiedad de display a none para que no se muestren los datos 

                            var categoria = document.getElementById('categoria_productos');
                            var productos = document.getElementsByClassName('nombre_productoss');
                            var select_productos = document.getElementById('select_producto');
                            var enviar_producto = document.getElementById('id_producto');
                            // inputs que se deben cargar automaticamente
                            var precio_producto = document.getElementById('precio_producto');
                            var cantidad_stock_producto = document.getElementById('cantidad_stock_producto');
                            var cantidad = document.getElementById('cantidad');
                            var precio = document.getElementById('precio');

                            for (var i = 0; i < productos.length; i++) {
                                productos[i].style.display = 'none';    

                            }

                            categoria.addEventListener("change", function () {
                                filtro(categoria, productos);
                                precio_producto.value = select_productos.value.split('-')[2];
                                cantidad_stock_producto.value = select_productos.value.split('-')[3];

                                console.log(precio_producto.value)
                                
                            });

                            select_productos.addEventListener("change", function () {
                                precio_producto.value = select_productos.value.split('-')[2];
                                cantidad_stock_producto.value = select_productos.value.split('-')[3];
                                
                            });

                            cantidad.addEventListener("keyup", function (event) {
                                
                                if (precio_producto.value != '' && cantidad.value != '') {
                                    if ( parseInt(cantidad.value) > parseInt(cantidad_stock_producto.value) ){
                                        confirm('Cantidad mayor a lo permitido');
                                        precio.value = '';
                                        cantidad.value = '';
                                        
                                    }
                                    else
                                    {
                                        // precio.value = '';
                                        precio.value = parseInt(cantidad.value) * parseInt(precio_producto.value.toString().replace(/[.]/g,'')); 
                                        
                                    }

                                    // event.preventDefault();
                                    // if (parseInt(cantidad.value) > parseInt(cantidad_stock_producto.value.split('')[1] - 1) ) {
                                        
                                        // }
                                    // cantidad.addEventListener("keydown", function (event) {
                                        
                                    // });
                                    
                                }
                                else
                                {
                                    precio.value = '';
                                }
            

                            });

                            // elemento_usuario = document.getElementById('id_elemento');
                            // elemento_comparar = document.getElementById('id_elemento');

                            // elemento.addEventListener('keyup',function(){
                            //     alertacantidadmayor2(elemento_usuario,elemento_comparar);
                                    
                            // });

                        </script>
                    </form>
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 item productos">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="border:none;">


                <div class="table-responsive">

                    <table class="table table-hover shadow p-3 mb-5 bg-white rounded ">

                        <thead>
                            <tr>
                                <th scope="col">Categoria</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad Pedido</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for mostrar_pedidos in pedidos %}

                                {% if not mostrar_pedidos.id_pedido %}
                                    
                                    <tr>

                                        
                                            

                                        <td>{{mostrar_pedidos.id_producto.id_nombre_producto.nombre_productos}}</td>
                                        <td>{{mostrar_pedidos.id_producto.id_nombre_producto.categoria.nombre_categoria}}</td>
                                        <td>{{mostrar_pedidos.cantidad}}</td>
                                        <td class="subtotal_productos">{{mostrar_pedidos.subtotal_producto}}</td>
                                        <td>


                                            <i style="color: white; padding:0 10px ;" type="button" data-toggle="modal"
                                                data-target="#borrar{{mostrar_pedidos.id}}">
                                                {% load static %}
                                                <img src="{% static '/assets/icons/circle-remove.svg' %}" alt="">
                                            </i>

                                            <!-- Modal -->
                                            <div class="modal fade" id="borrar{{mostrar_pedidos.id}}" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="pedidos" method="post">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <input type="hidden" name="id_borrar"
                                                                    value="{{mostrar_pedidos.id}}">
                                                                <input type="hidden" name="borrar" value="borrar">
                                                                ¿Desea Eliminar este Registro ?
                                                            </div>
                                                            <div class="modal-footer">

                                                                <button type="button" class="btn btn-outline-warning"
                                                                    data-dismiss="modal">Cancelar</button>
                                                                <button type="submit"
                                                                    class="btn btn-outline-danger">Borrar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        
                                            
                                            
                                    </tr>
                                {% endif %}
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 card shadow p-3 mb-5 bg-white rounded item insumos"
            style="border:none; display: none;">

            <div class="card-body">

                <h5 class="card-title">¡Cliente!</h5>

                <form action="clientes" method="post" id="id_form_modal">

                    {% csrf_token %}

                    <input type="hidden" name="guardar" value="guardar"> 

                    <div class="form-group">

                        <div class="form-group">

                            <select class="form-control selectpicker" name="nombre_cliente" id="nombre_cliente" data-live-search="true"
                            title="Selecione un Cliente" data-live-search-placeholder="Buscar..." required>
                              
                              {% for mostrar in clientes  %}

                              <option id="opcion{{mostrar.id}}" value="{{mostrar.id}}-{{mostrar.direccion}}-{{mostrar.telefono}}">{{mostrar.nombre_cliente}}</option>
              
                              {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion del Cliente" readonly>

                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono del Cliente" readonly>

                        </div>

                    </div>

                    
                    <script>
                        direccion = document.getElementById('direccion');
                        telefono = document.getElementById('telefono');
                        select_clientes = document.getElementById('nombre_cliente');

                        select_clientes.addEventListener("change", function () {
                            direccion.value = select_clientes.value.split('-')[1];
                            telefono.value = select_clientes.value.split('-')[2];
                        });
                                
                    </script>


                </form>

            </div>

        </div>

    </div>

    <div class="totales">

        <div class="form-group">
          <input type="text"  class="form-control" id="total" placeholder="Total" readonly>
        </div>
        <div class="form-group">
          <input type="date"  class="form-control" id="fecha_parcial">      
        </div>

    </div>

    <div class="botones">
        <form action="pedidos" method="post" id="form_pedidos">
            {% csrf_token %}

            
            {% for enviar_detalles in pedidos %}
                
                {% if not enviar_detalles.id_pedido %}
                    
                    <input type="hidden" name="id_pedidos" class="id_pedidos" value="{{enviar_detalles.id}}">

                    <!-- <p>{{enviar_detalles.id}}</p> -->
                
                {% endif %}

                    
            {% endfor %}
                

            <input type="hidden" name="registrar_pedido" value="registrar_pedido" >
            <input type="hidden" name="fecha_pedido" id="fecha_pedido">
            <input type="hidden" name="enviar_cliente" id="enviar_cliente" value="">
            <input type="hidden" name="total_pedido" id="total_pedido" value="">
            <button type="button" id="enviar_pedido" class="btn btn-outline-success float-right">Registrar</button>
        </form>
    </div>

    <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = String(today.getFullYear());

        date = String(yyyy + '-' + mm + '-' + dd);
        // document.write(today);


        fecha_parcial = document.getElementById('fecha_parcial');

        // fecha_utc = date.toUTCString()
        fecha_parcial.value = date;
        fecha_parcial.defaulValue = date;
        fecha_parcial.innerHTML = date;


        console.log(date);


        // en esta funcion se cambia el valor de la fecha al input oculto ara poer enviarlo al servidor
        function cambio() {

            fecha = document.getElementById('fecha_pedido');
            fecha_parcial = document.getElementById('fecha_parcial');
            fecha.value = fecha_parcial.value;

        }


        // codigo para sumar los subtotales de la tabla
        let totales = document.getElementsByClassName('subtotal_productos');
        let total = document.getElementById('total');
        let suma = 0;

        if (totales.length > 0) {
            for (let i = 0; i < totales.length; i++) {
                suma += parseInt(totales[i].innerHTML);
            }
            
            total.value = suma;
            
        }


        console.log(total.value);

        // codigo para enviar el formulario de registro de pedidos

        let enviar_pedido = document.getElementById('enviar_pedido');
        let form_pedidos = document.getElementById('form_pedidos');
        let enviar_cliente = document.getElementById('enviar_cliente');
        let total_pedido = document.getElementById('total_pedido');
        let id_pedidos = document.getElementsByClassName('id_pedidos');

        enviar_pedido.addEventListener('click', function(){
            if (confirm('Desea registrar el Pedido?..')) {

                cambio()
                enviar_cliente.value = select_clientes.value.split('-')[0];
                total_pedido.value = total.value;

                if (select_clientes.value != null && parseInt(id_pedidos.length) > 0) {
                    
                    form_pedidos.submit();
                }
                else
                {
                    alert('Por favor complete los campos correspondientes...')
                }
            }
        });

        

    </script>

</div>

{% endblock pedidos %}